.img-1 {
  width: 100%;
  height: 400px; }

.h-1 {
  color: white;
  margin-top: -400px !important; }

.itm02 {
  margin-left: 280px !important; }

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1; }

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: bottom;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px; }

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd; }

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc; }

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-top: -150px; }

.tab-1 {
  width: 100%;
  height: 60px;
  margin-top: -200px;
  background-color: white !important; }

.img-2 {
  margin-top: -640px; }

.h-000 {
  margin-top: -300px;
  color: white; }

.inpt-1 {
  border: none;
  border-radius: 4px;
  margin-left: 500px;
  margin-top: -200px !important;
  width: 400px; }

.inpt-1nidivi {
  margin-top: -40px; }

.btn-1 {
  width: 50px;
  height: 32px;
  margin-left: -20px;
  margin-top: -4px; }

.cl-1 img {
  width: 100%;
  height: 50% !important;
  background-color: white; }

.img-001 {
  background-color: white; }

.h-001 {
  color: silver; }

.img-002 {
  width: 100%;
  height: 50%; }

.cl-2 {
  width: 100% !important; }

.cl-002 {
  width: 33% !important;
  height: 100% !important; }

.cl-001 {
  width: 33% !important;
  height: 100% !important;
  margin-left: -100px; }

.row-002 {
  width: 1200px;
  height: 500px; }

.cl-3 img {
  width: 100% !important;
  height: 100%; }

.row-003 {
  margin-top: -180px; }

.row-004 {
  margin-top: 100px; }

.img2 {
  width: 720px;
  height: 410px; }

.img3 {
  width: 720px;
  height: 410px; }

.cl-003carousele {
  margin-left: -200px !important; }

.h-002 {
  margin-left: 200px;
  margin-top: 50px; }

.inpt-2 {
  border-radius: 5px;
  color: silver;
  width: 400px;
  height: 30px !important;
  margin-left: 200px !important; }

.inpt-3 {
  border-radius: 5px;
  color: silver;
  width: 400px;
  height: 40px !important;
  margin-left: 200px !important;
  margin-top: 20px; }

.inpt-4 {
  border-radius: 5px;
  color: silver;
  width: 400px;
  height: 100px !important;
  margin-left: 200px !important;
  margin-top: 20px; }

.btn-00004 {
  margin-top: 40px;
  margin-left: 522px !important; }

.h-003 {
  color: silver; }

.h-004 {
  margin-top: 40px; }

.inpt-001 {
  margin-top: 40px; }

.inpt-002 {
  margin-left: 100px;
  margin-top: -25px; }

.inpt-003 {
  margin-top: -25px;
  margin-left: 120%; }

.h-005 {
  color: silver; }

.btn-2 {
  margin-left: 400px; }

.img-003 {
  width: 100%; }

.cl-004 {
  margin-left: 30%;
  margin-top: -80% !important; }

.h-006 {
  margin-left: 33%;
  margin-top: -31%;
  color: white; }

.cl-005 {
  margin-top: -40%;
  color: white; }

.cl-006 {
  margin-top: -40%;
  color: white; }

/*# sourceMappingURL=scc%20style.css.map */
